<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="service-block">
					<div class="service_box_left">
						<i class="fa fa-desktop"></i>
					</div>
					<div class="service_box_right">
						<h3>AGREGAR USUARIOS</h3>
						<p>Servicio para ingresar usuarios al sistema de prestamos.</p>

						<input type="button" class="btn btn-primary"
							value="Agregar Usuario" ng-click="showCreateUsuarioForm()" />
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="service-block">
					<div class="service_box_left">
						<i class="fa fa-heart"></i>
					</div>
					<div class="service_box_right">
						<h3>SOLICITAR DISPOSITIVO</h3>
						<p>Servicio para solicitar los dispositivos.</p>
						<input type="button" class="btn btn-primary"
							value="Solicitar" ng-click="showCreateSolicitudForm()" />
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="service-block">
					<div class="service_box_left">
						<i class="fa fa-desktop"></i>
					</div>
					<div class="service_box_right">
						<h3>CREATIVE DESIGNS</h3>
						<p>Lorem ipsum dolor sit amet consectet ur adipisicing elit.
							Hic rerum odit illum accusamus quidem sunt.</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>